Net CLK LOC = L15;
NET SWITCH LOC = F5;
NET DATA<0> LOC = E4;
NET DATA<1> LOC = T5;
NET DATA<2>  LOC= R5;
NET DATA<3>  LOC= P12;
NET DATA<4> LOC = P15;
NET DATA<5> LOC = C14;
NET DATA<6> LOC = D14;
NET DATA<7> LOC = A10;

NET TRANSMISSION_PORT LOC = A16;